@font-face {
  font-family: 'Montserrat Alternates';
  src: url('fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
} 
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
} 

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #81927A;

    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    line-height: 113%;
    letter-spacing: -1.1%;
}

.title {
    position: fixed;
    width: 85vh;
    height: 10vh;
    top: 0;
    background-color: #D8E9D6;
    border-bottom: 5px solid #81927A;
    border-right: 5px solid #81927A;
    border-bottom-right-radius: 3vh;

    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 3vh;
    color: #35462D;
}

.header {
    position: fixed;
    width: 40vh;
    height: 15vh;
    top: 0;
    right: 0;
    background-color: #D8E9D6;
    border-bottom: 5px solid #81927A;
    border-left: 5px solid #81927A;
    border-bottom-left-radius: 3vh;

    font-family: "Montserrat", sans-serif;
    color: #35462D;
}

#logo {
    position: absolute;
    height: 30% * 8 / 3;
    width: 30%;
    top: 12%;
    right: 5%;
    border-radius: 50%;
}

#email {
    position: absolute;
    top: 10%;
    left: 5%;
    margin: 0;

    font-size: 2vh;
    font-weight: 600;
}

#creators {
    position: absolute;
    top: 28%;
    left: 5%;
    margin: 0;

    font-size: 1.5vh;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -1.1%;
}

#btn {
    position: absolute;
    top: 73%;
    left: 10%;
    width: 50%;
    height: 20%;
    margin: 0;

    background-color: #9FBB99;
    border: none;
    border-radius: 0.8vh;

    font-family: "Montserrat", sans-serif;
    color: #35462D;
    letter-spacing: -1.1%;
    font-size: 1.8vh;
}

.main-content {
    position: fixed;
    width: 100vw;
    height: 70vh;
    top: 17%;
    background-color: #6D8967;
    overflow: hidden;

    display: flex;
    align-items: center; 
    justify-content: center; 
}

#map {
    position: absolute;
    width: 95%;
    height: 95%;
    cursor: grab;
}


/* Метки, страницы и т.д */

.animal-marker {
    background: none !important;
    border: none !important;
}

.popup {
    position: fixed;
    width: 360px;
    height: 661px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #81927A;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    z-index: 10000;
}

.popup-close {
    position: absolute;
    width: 43px;
    height: 43px;
    top: 17px;
    left: 297px;
    border: none;
    padding: 0;
    background: transparent;
}

.popup-close img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.photo {
    position: absolute;
    width: 268px;
    height: 268px;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    outline: 3px solid #35462D;
}

.name {
    position: absolute;
    width: 268px;
    height: 42px;
    top:246px;
    left: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #C8D3C1;

    color: #35462D;
    font-size: 18px;
    font-family: "Montserrat Alternates", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle {
    position: absolute;
    width: 43px;
    height: 274px;
    top: 17px;
    left: 297px;

    background-color: #C9D3C1;
    border-radius: 20px;
    opacity: 0.4;
}

.audio-btn {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 20px;
    top: 306px;

    background: transparent;
    border: none;
    padding: 0;
}

.icon {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
}


.pause-icon {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.under-road {
    position: absolute;
    width: 260px;
    height: 60px;
    left: 80px;
    top: 300px;

    background-color: #C8D3C1;
    border-radius: 10px;
}

.road {
    position: absolute;
    width: 240px;
    height: 50px;
    left: 90px;
    top: 305px;
    object-fit: cover;
}

.info {
    position: absolute;
    width: 320px;
    height: 204px;
    left: 20px;
    top: 372px;

    background-color: #C8D3C1;
    border-radius: 10px;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #35462D;
    line-height: 113%;
    letter-spacing: -1.1%;
    font-size: 15px;
    padding: 15px;
}

.learn-more {
    position: absolute;
    width: 320px;
    height: 55px;
    top: 591px;
    left: 20px;

    background-color: #3A462D;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #C8D3C1;
}